<div id="waline"></div>
<link rel="stylesheet" href="https://unpkg.com/@waline/client@v2/dist/waline.css" media="noexist" onload="this.media='all'">
<script src="https://unpkg.com/@waline/client@v2/dist/waline.js"></script>
<%- partial('waline-config') %>