.wl-header-item:nth-child(3), .vheader-item:nth-child(3)
    display: none !important

.wl-btn:nth-child(2), .vbtn:nth-child(2)
    display: none !important

.v[data-class="v"] .vheader
    border-bottom: none !important

.wl-meta, .vmeta
    display: none !important