<div id="article-banner">
  <div id="hitokoto" class="one">
    <div>
      <a href="#" id="hitokoto_text" class="one_text" target="_blank">:D 加载中...</a>
    </div>
    <span class="one_source" id="one_source">
      —— <span id="hitokoto_author"></span> <span id="hitokoto_from"></span><img
        class="refresh_button"
        onclick="getYiju()"
        src="/css/images/refresh.png"
      /><img
        class="copy_button"
        onclick="copy()"
        src="/css/images/copy.png"
      />
    </span>
  </div>
</div>
<main class="app-body">
  <div id="waline" class="one_waline"></div>
  <%- page.content %>
</main>

<%- partial('_partial/banner') %>
<%- partial('_third-party/hitokoto') %>
<%- partial('_third-party/waline') %>

<script type="text/javascript">
  function copy() {
    var text = document.getElementById("hitokoto").innerText
    var input = document.getElementById("wl-edit");
    input.value = text; // 修改文本框的内容
    input.select(); // 选中文本
    document.execCommand("copy"); // 执行浏览器复制命
    var event = document.createEvent("HTMLEvents");
    event.initEvent("change", true, true);
    document.querySelector("#wl-edit").dispatchEvent(event);
    // alert("复制成功");
  }
</script>
