<div class="cloudpoolmag">
    <div id="magazine-banner" >
    <img src="/images/cloudpool01.png" alt="cloudpool01">
    </div>
    <main class="app-body">
    <div id="contents">
      <h3>你来到了什么地方</h3>
      <ul>
        <li><a href="/about/why_we_made_it/">为什么我们要做浊池</a></li>
      </ul>

      <h3>问题小说</h3>
      <ul>
        <li><a href="/story/云树/">老物：云树</a>　@StʌrunneR</li>
        <li><a href="/story/答案在风中飘/">参赛作品：答案在风中飘</a>　@StʌrunneR</li>
        <li><a href="/story/非语文类小说三部曲/">非语文类小说三部曲</a>　@StʌrunneR</li>
        <li><a href="/story/5-20创新作文大赛作品/">5-20创新作文大赛作品</a>　@StʌrunneR</li>
        <li><a href="/story/高层建筑/">高层建筑</a>　@Dark.∞</li>
      </ul>

      <h3>诗诗诗</h3>
      <ul>
        <li><a href="/poem/秋兴八首/">秋兴八首</a>　@Ghost</li>
        <li><a href="/poem/不喜欢很正的东西-再见/">不喜欢很正的东西//再见</a> & <a href="/poem/我们哼哧哼哧爬到山顶就是为了看看垃圾/">我们哼哧哼哧爬到山顶就是为了看看垃圾</a> & <a href="/poem/每天只有一小时/">每天只有一小时</a>
        & <a href="/poem/等雷/">等雷</a> & <a href="/poem/太阳云/">太阳云 </a> & <a href="/poem/06/">06</a> & <a href="/poem/07/">07</a>　@StʌrunneR</li>
        <li><a href="/poem/曾经我坏事做尽 等两首/">曾经我坏事做尽 等两首</a>　@乡琳</li>
      </ul>

      <h3>翻译</h3>
      <ul>
        <li><a href="/story/《SECOND LIFE》翻译 By 缀理/">《SECOND LIFE》翻译 By 缀理</a>　@缀理</li>
      </ul>

      <h3>垃圾们</h3>
      <ul>
        <li><a href="/shxt/学校征文作品：叩问青春（就是写信）/">学校征文作品：叩问青春（就是写信）</a>　@StʌrunneR</li>
        <li><a href="/shxt/6.12超市诗/">超市诗 1</a><a href="/shxt/6.24超市诗/"> & 2</a><a href="/shxt/7.1超市诗/"> & 3</a><a href="/shxt/10.2超市诗/"> & 4</a><a href="/shxt/12.2超市诗/"> & 5</a>　@StʌrunneR </li>
        <li><a href="/shxt/晚自习打蚊子/">晚自习打蚊子</a>　@StʌrunneR</li>
        <li><a href="/shxt/金子般的光芒/">金子般的光芒</a>　@StʌrunneR</li>
        <li><a href="/shxt/吻/">吻</a>　@StʌrunneR</li>
      </ul>

      <h3>游记</h3>
      <ul>
        <li><a href="/go/我在考试前去了桂林/"> 我在考试前去了桂林 </a>　@StʌrunneR</li>
      </ul>

      <h3>每日一句</h3>
      <ul>
        <li><a href="/thinking/daily2017/">每日一句 2017</a>　@StʌrunneR</li>
      </ul>

    </div>
    </main>
</div>



