// colors
color-background = #FAF9F6
color-border = #e5e5e5
color-dark = #34495e
color-gray = #7f8c8d
color-shadow = #e3e3e3
color-primary = #00BFFF // DeepSkyBlue
color-darker = #0096FF // Bright Blue
color-darker2 = #6495ED // Cornflower Blue
color-darker3 = #4169E1 // Royal Blue
color-lighter = #87CEFA // LightSkyBlue
color-lighter2 = #40E0D0 // Turquoise
color-lighter3 = #7DF9FF // Electric Blue
color-vary = #7DF9FF // Electric Blue
color-vary2 = #40E0D0 // Turquoise
color-vary3 = #00FFFF // Aqua (Cyan)
color-contrast = #FFAC1C // Bright Orange
color-contrast2 = #FFAA33 // Yellow Orange
color-contrast3 = #FFC000 // Golden Yellow
color-adja = #228B22 // Forest Green
color-adja2 = #4CBB17 // Kelly Green
color-adja3 = #32CD32 // Lime Green
color-adja4 = #50C878 // Emerald Green
color-white = #FCF5E5 // Parchment
color-white2 = #FAF9F6 // Off White
color-white3 = #F9F6EE // Bone White
color-gray = #808080 // Gray
color-gray2 = #A9A9A9 // Dark Gray
color-gray3 = #D3D3D3 // Light Gray

c = #000000
// images
logo-url = "images/logo.png"
menu-url = "images/menu.png"
arrow-url = "images/top.png"
catalog-url = "images/catalog.png"
alipay-url = "images/alipay.jpg"
wechat-url = "images/wechat.jpg"
avatar-url = "images/avatar.png"
escheres-url = "images/escheres.png"

m-mobile = "screen and (max-width: 700px)"
m-pad = "screen and (max-width: 1480px) and (min-width: 700px)"