// colors
color-background = #FFFFFF // White
color-border = #E5E4E2 // Platinum
color-dark = #36454F // Charcoal
color-shadow = #D3D3D3 // Light Gray
color-primary = #00BFFF // DeepSkyBlue
color-darker = #0096FF // Bright Blue
color-darker2 = #6495ED // Cornflower Blue
color-darker3 = #4169E1 // Royal Blue
color-lighter = #87CEFA // LightSkyBlue
color-lighter2 = #40E0D0 // Turquoise
color-lighter3 = #7DF9FF // Electric Blue
color-vary = #7DF9FF // Electric Blue
color-vary2 = #40E0D0 // Turquoise
color-vary3 = #00FFFF // Aqua (Cyan)
color-contrast = #FFAC1C // Bright Orange
color-contrast2 = #FFAA33 // Yellow Orange
color-contrast3 = #FFC000 // Golden Yellow
color-adja = #228B22 // Forest Green
color-adja2 = #32CD32 // Lime Green
color-adja3 = #50C878 // Emerald Green
color-adja4 = #00FF7F // Spring Green
color-adja5 = #7CFC00 // Grass Green
color-adja6 = #90EE90 // Light Green
color-white = #FCF5E5 // Parchment
color-white2 = #FAF9F6 // Off White
color-white3 = #F9F6EE // Bone White
color-gray = #808080 // Gray
color-gray2 = #A9A9A9 // Dark Gray
color-gray3 = #C0C0C0 // Silver

// images
logo-url = "images/logo.png"
menu-url = "images/menu.png"
arrow-url = "images/top.png"
catalog-url = "images/catalog.png"
alipay-url = "images/alipay.jpg"
wechat-url = "images/wechat.jpg"
avatar-url = "images/avatar.png"
escheres-url = "images/escheres.png"

m-mobile = "screen and (max-width: 768px)"
m-pad = "screen and (max-width: 1480px) and (min-width: 768px)"