@import "_config"

@font-face
  font-family: 'Source Sans Pro'
  src: url('../fonts/SourceSansPro-Regular.ttf')
  //  url('https://cdn.jsdelivr.net/npm/source-sans-pro@3.6.0/TTF/SourceSansPro-Regular.ttf')
  font-display: swap;

::selection
  background: color-primary
  color: color-white

body
  font-family: 'Source Sans Pro', 'Helvetica Neue', sans-serif, Arial
  //  font-family: 'Helvetica Neue', sans-serif, Arial
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  -webkit-text-size-adjust: none
  position: relative
  height: 100%
  margin: 0 
  color: color-dark
  font-size: 16px
  @media m-mobile
    font-size: 15px

ol, ul, form, p
  margin: 0

a
  text-decoration: none
  color: color-primary
  cursor: pointer

p
  word-spacing: 0.05em

pre
  overflow-x: auto

.flex-box
  display: flex
  display: -ms-flexbox
  display: -webkit-box
  display: -webkit-flex
  transform: unset !important

.app-body
  padding: 16px  16px
  margin: auto
  height: 100%
  max-width: 1200px
  position: relative
  opacity: 0
  transform: translateY(-20px)
  transition: all 0.4s
  @media m-mobile
    padding: 16px 10px

.hljs
  background: none !important

.wrap-active
  background-color: rgba(255, 255, 255, .9)

.small-icon
  width: 16px
  margin-right: 2px
  border-radius: 100%

@keyframes shine
  0%, 100%
    opacity: .1
  25%, 75%
    opacity: .2
  50%
    opacity: 1
 
@import "_partial/header"
@import "_partial/footer"
@import "_partial/pager"
@import "_partial/layout"
@import "_partial/nav"
@import "_pages/post"
@import "_pages/archive"
@import "_pages/article"
//@import "_pages/about"
@import "_pages/catalog"
@import "_pages/categories"
@import "_pages/tags"
@import "_pages/cloudpoolmag"
@import "_pages/one"
@import "_plugin/busuanzi"
@import "_plugin/waline"
@import "_plugin/aplayer"

// toggle hider title
.hider_title 
    cursor: pointer
    background: #eeeeee