.aplayer
  margin-bottom: 20px !important
  font-size: initial
  font-family: initial
  font-weight: initial
  &.aplayer-withlrc
    .aplayer-info
      height: 106px !important
      margin-left: 106px !important
    .aplayer-pic
      height: 106px !important
      width: 106px !important
      &:hover
        height: 300px !important
        width: 300px !important
        margin-right: 1rem
        @media m-mobile
          height: 200px !important
          width: 200px !important
  .aplayer-lrc
    height: 48px !important
    .aplayer-lrc-contents
      margin-top: 17px !important
      p
        opacity: .75 !important
      .aplayer-lrc-current
        opacity: 1 !important
  .aplayer-list > ol
    scrollbar-width: thin !important
    scrollbar-color: initial