.wl-header-item:nth-child(3), .vheader-item:nth-child(3)
    display: none !important

.wl-btn:nth-child(2), .vbtn:nth-child(2)
    display: none !important

.v[data-class="v"] .vheader
    border-bottom: none !important

.wl-meta, .vmeta
    display: none !important
//meta: IP归属 浏览器 OS
.wl-card .wl-head
    line-height: 2 !important
//原css line-height会导致第一行右侧被按钮挤压
.wl-header 
.item3
    border-bottom: none !important
//选择class="wl-header item3"的元素
//.wl-card
//.wl-content
//.p
//    white-space: pre-wrap !important
//.vcontent
//.p
//    white-space: pre-wrap
//保留评论换行