
.article-card
  padding-bottom: 1.5em
  .article-head
    font-weight: bold
    font-size: 1.6em
    margin-bottom: 0
  &:first-child
    margin-top: 60px
  .article-date
    color: color-gray
    margin: 10px 0
    font-family: Arial, Helvetica, sans-serif
    font-size: 0.8em
  .article-summary
    font-family: serif, 'Source Serif 4 src1', 'Source Serif 4 src2'
    font-size: medium
    font-style: italic
    margin: 10px 0
    color: color-dark
  .more
    font-weight: 600
    display: inline-block
    transition: all 0.3s
    &:hover
      transform: translateX(10px)
  @media m-mobile
    padding-left: 1em

.article-head > a
  color: color-dark
  transition: all 0.3s ease-in-out
  display: inline-block
  position: relative
  &:before 
    content: ""
    color: #4aa2f1
    display: block
    position: absolute
    top: 0
    left: 0
    width: 0
    height: 100%
    border-bottom: 3px solid
    transition: all 0.2s ease-in-out
  &:hover::before
    width: 100%

.image-view-wrap
  position: fixed
  top: 0
  left: 0
  bottom: 0
  right: 0
  z-index: 1000
  transition: all 0.3s ease-in-out
  .image-view-inner
    position: relative
  img
    display: block
    margin: 0 auto
    cursor: zoom-out
    transition: all 0.3s ease-in-out

