.yiyan
    font-size: 1.5em
    font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif
    margin: 10px 0 20px 0
    color: color-white
    opacity: 0
    transform: translateY(-20px)
    transition: all 0.4s
    transition-delay: 0.1s
    &:before
      content: "“"
    &:after
      content: "”"

