.one
  margin: 10px 0 20px 0
  color: color-white
  opacity: 0
  transform: translateY(-20px)
  transition: all 0.4s
  transition-delay: 0.1s

.one_text
  font-size: 2.5em
  color: color-white
  font-family: "STFangsong", "FangSong", "FangSong_GB2312", sans-serif
  &:before
    content: "『 "
  &:after
    content: " 』"
    
.one_source
  display: inline-block
  text-align: left
  margin-left: 30%
  margin-top: 1em
  line-height: 1.5em
  font-family: "STSong", "NSimSun", "SimSun", sans-serif
  font-size: 1.5em
  color: color-white


.refresh_button
  width: 0.8em
  height: 0.8em