.one
  margin: 10px 0 20px 0
  color: color-white
  opacity: 0
  transform: translateY(-20px)
  transition: all 0.4s
  transition-delay: 0.1s

.one_text
  font-size: 3em
  color: color-white
  font-family: 'Long Cang', 'Noto Serif SC', "STFangsong", "FangSong", "FangSong_GB2312"
  font-display: swap
  &:before
    content: "『"
    padding-right: 0.5em 
    font-size: 0.5em
  &:after
    content: "』"
    padding-left: 0.5em 
    font-size: 0.5em
    
.one_source
  display: inline-block
  text-align: left
  font-family: 'Noto Serif SC','Source Serif 4', serif
  font-size: 1.5em
  color: color-white
  margin: 1em auto auto 25%
  line-height: 1.5em
  .refresh_button
    width: 1em
    height: 1em
    margin-left: 1em
  .copy_button
    width: 1em
    height: 1em
    margin-left: 0.4em