<div class="daily">
    <div class="card-container"></div>
<!--<%- js('js/valine.min.js') %>--> 
    <div id="vcomments" class="commentboard"></div>
    <script src="//cdn.jsdelivr.net/npm/@waline/client/dist/Waline.min.js"></script>
    <script>
        // new Valine({
        new Waline({
            el: '#vcomments',
            // add serverURL
            serverURL: 'https://comment-kappa.vercel.app',
            // add emoj
            emoji: [
                'https://cdn.jsdelivr.net/gh/walinejs/emojis@1.0.0/weibo',
                'https://cdn.jsdelivr.net/gh/walinejs/emojis@1.0.0/bilibili',
                'https://cdn.jsdelivr.net/gh/walinejs/emojis@1.0.0/tieba',
                'https://cdn.jsdelivr.net/gh/walinejs/emojis@1.0.0/qq',
                'https://cdn.jsdelivr.net/gh/walinejs/emojis@1.0.0/alus',
            ],
            appId: '<%- theme.comment.valine.appId %>',
            appKey: '<%- theme.comment.valine.appKey %>',
            avatar: '<%- theme.comment.valine.avatar %>',
        })
    </script>
</div>