<%- partial('_plugin/waline') %>
<script>
    (function () {
        $('.wl-actions').append("<a href=https://emoji.zhuochi.org target=_blank id=wl-emoji-wrapper><img src=../../images/emoji.png class=wl-action id=wl-emoji></a>")
    })();
</script>