<%- partial('_plugin/waline') %>
<script>
    (function () {
        $('.wl-actions').append("<button class=wl-action id=wl-emoji><a href=https://emoji.zhuochi.org target=_blank>( ^ω^)</a></button>")
    })();
</script>