<span>
  <label for="font-select" class="front-label">更换字体</label>
  <select name="font" id="font">
    <option value="Arial, Helvetica, sans-serif">默认（黑体）</option>
    <option value="lighter">黑体（细体）</option>    
    <option value="serif,'SimSun','Source Serif 4 src1', 'Source Serif 4 src2','Noto Serif SC'">宋体</option>     
    <option value="Arial,'KaiTi','STKaiti'">楷体</option>
  </select>
</span>

<span class="text-front">
  <label for="TextIndent" class="front-label">段首缩进</label>
  <input type="checkbox" id="indent-checkbox" name="text-indent" value="">
</span>

<h1 class="article-author">
  <% if (page.author !== "m1") { %>
      <%- page.author %>
  <% } else if (page.author == "m1") { %>
      StarunneR
  <% } %>
</h1>

<script>    
  $(document).ready(function(){
    $("#font").click(function(){
      if (this.value == "lighter") {
        $(".markdown-content").css({"font-weight": 'lighter'});
      } else {
        $(".markdown-content").css({"font-family": font.value});
        $(".markdown-content").css({"font-weight": 'initial'});
      };
    });
  });
  
  $("#indent-checkbox").change(function(){
    if (this.checked) {
      $(".markdown-content").css({"text-indent": "2em"});
    } else {
      $(".markdown-content").css({"text-indent": "0"});
    }
  });
</script> 
