<span>
  <label for="font-select" class="front-label">更换字体</label>
  <select name="font" id="font">
    <option value="heiti">默认</option>
    <option value="light-heiti">黑体（细体）</option>
    <option value="lighter-heiti">黑体（极细）</option> 
    <option value="songti">宋体</option>
    <option value="light-songti">宋体（细体）</option>
    <option value="kaiti">楷体</option>
  </select>
</span>

<span class="text-front">
  <label for="TextIndent" class="front-label">段首缩进</label>
  <input type="checkbox" id="indent-checkbox" name="text-indent" value="">
</span>

<h1 class="article-author">
  <% if (page.author !== "m1") { %>
      <%- page.author %>
  <% } else if (page.author == "m1") { %>
      StarunneR
  <% } %>
</h1>

<script>    
  $(document).ready(function(){
    $("#font").change(function(){
      if (this.value == "heiti") {
        $(".markdown-content").css({"font-family": "Arial, Helvetica, sans-serif"});
        $(".markdown-content").css({"font-weight": 'initial'});
      } else if (this.value == "light-heiti") {
        $(".markdown-content").css({"font-weight": '300'});
        $(".markdown-content").css({"font-family": "'Noto Sans SC', sans-serif"});
        $("head").append("<link href=https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300&display=swap rel=stylesheet>");
      } else if (this.value == "lighter-heiti") {
        $(".markdown-content").css({"font-weight": '100'});
        $(".markdown-content").css({"font-family": "'Noto Sans SC', sans-serif"});
        $("head").append("<link href=https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100&display=swap rel=stylesheet>");
      } else if (this.value == "songti") {
        $(".markdown-content").css({"font-weight": '400'});
        $(".markdown-content").css({"font-family": "'Noto Serif SC','SimSun',Serif"});
        $("head").append("<link href=https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@400&display=swap rel=stylesheet>");
      } else if (this.value == "light-songti") {
        $(".markdown-content").css({"font-weight": '200'});
        $(".markdown-content").css({"font-family": "'Noto Serif SC','SimSun',Serif"});
        $("head").append("<link href=https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@200&display=swap rel=stylesheet>");
      } else if (this.value == "kaiti") {
        $(".markdown-content").css({"font-weight": 'initial'});
        $(".markdown-content").css({"font-family": "Arial,'KaiTi','STKaiti'"});
      }
    });
  });
  
  $("#indent-checkbox").change(function(){
    if (this.checked) {
      $(".markdown-content").css({"text-indent": "2em"});
    } else {
      $(".markdown-content").css({"text-indent": "0"});
    }
  });
</script> 
