<span class="text-front">
  <label for="font-select" class="front-label">更换字体</label>
  <select name="font" id="font">
    <option value="inherit">默认(思源黑体)</option>
    <option value="'Noto Sans SC'">思源黑体细体</option>
    <option value="'Microsoft YaHei'">微软雅黑细体</option>
    <option value="'Noto Serif SC'">思源宋体</option>
    <option value="'SimSun'">新宋体</option>      
    <option value="'KaiTi'">楷体</option>
  </select>
</span>

<span class="text-front">
  <label for="TextIndent" class="front-label">段首缩进</label>
  <input type="checkbox" id="indent-checkbox" name="text-indent" value="">
</span>

<h1 class="article-author">
  <% if (page.author !== "m1") { %>
      <%- page.author %>
  <% } else if (page.author == "m1") { %>
      StarunneR
  <% } %>
</h1>

<script>    
  $(document).ready(function(){
    $("#font").click(function(){
      $(".markdown-content").css({"font-family": font.value});
    });
  });
  
  $("#indent-checkbox").change(function(){
    if (this.checked) {
      $(".markdown-content").css({"text-indent": "2em"});
    } else {
      $(".markdown-content").css({"text-indent": "0"});
    }
  });
</script> 
