<div class="qrcode">
    <img id="share-qrcode" class="qrcode-image"/>
    <div class="qrcode-notice">保存二维码，分享此文章</div>
</div>

<!--<script type="text/javascript" src="/js/qrious.min.js"></script>-->
<script type="text/javascript" src="https://cdn.bootcdn.net/ajax/libs/qrious/4.0.2/qrious.min.js" ></script>
<script>
    // qrcode
    var qr = new QRious({
        element: document.getElementById('share-qrcode'),
        value: document.location.href
    })

    $("#share-qrcode").click(function () {
        var img = document.getElementById('share-qrcode')
        var url = img.src
        var a = document.createElement('a')
        var down_event = new MouseEvent('click')
        a.download = '<%= config.title %>-<%= page.title %>'
        a.href = url
        a.dispatchEvent(down_event)
    })
</script>