<!-- 打赏 START -->
<div class="money-like">
    <div class="reward-btn">
        赏
        <span class="money-code">
            <span class="alipay-code">
                <div class="code-image"></div>
                <b>使用支付宝打赏</b>
            </span>
            <span class="wechat-code">
                <div class="code-image"></div>
                <b>使用微信打赏</b>
            </span>
        </span>
    </div>
    <p class="reward_notice">如果你觉得我的文章还不错，欢迎点击上方按钮对我打赏</p>
</div>
<!-- 打赏 END -->