<footer class="app-footer">
  <p class="copyright">
    Copyright &copy; 2017 - <%= new Date().getFullYear() %>, <%- config.title %>, <%- theme.footer %>, All Rights Reserved<br/>
    本站为基于<a href="https://hexo.io" target="_blank">Hexo</a>的静态博客，<span id="busuanzi_container_site_pv">总访问量 <span id="busuanzi_value_site_pv"></span> 次</span><!--，来自 <span id="busuanzi_value_site_uv"></span> 个 IP--><br/>
    主题源自 <a href="https://github.com/yanm1ng/hexo-theme-vexo">Vexo</a> by yanm1ng，感谢 <a href="https://github.com/MoePlayer/APlayer">APlayer</a> by DIYgod，感谢 <a href="https://github.com/stevenjoezhang/live2d-widget">Live2D Widget</a> by stevenjoezhang & <a href="https://github.com/xiazeyu/live2d-widget-models">live2d-widget-models</a> by xiazeyu
  </p>
</footer>

<script>
  function async(u, c) {
    var d = document, t = 'script',
      o = d.createElement(t),
      s = d.getElementsByTagName(t)[0];
    o.src = u;
    if (c) { o.addEventListener('load', function (e) { c(null, e); }, false); }
    s.parentNode.insertBefore(o, s);
  }
</script>
<%- js('js/script') %> <!--无法移至head.js中，原因不明-->
<script type="text/javascript" src="/js/busuanzi.min.js" async></script>

