<footer class="app-footer">
  <p class="copyright">
    Copyright &copy; 2017 - <%= new Date().getFullYear() %>, <%- config.title %>, All Rights Reserved <br/>
    本站为基于<a href="https://hexo.io" target="_blank">Hexo</a>的静态博客， <span id="busuanzi_container_site_pv">总访问量 <span id="busuanzi_value_site_pv"></span> 次</span><!--，来自 <span id="busuanzi_value_site_uv"></span> 个 IP--><br/>
    主题源自 <a href="https://github.com/yanm1ng/hexo-theme-vexo">Vexo</a> by <a href="https://github.com/yanm1ng">yanm1ng</a>，感谢 <a href="https://github.com/EYHN/hexo-helper-live2d">hexo-helper-live2d</a> 插件 by <a href="https://github.com/xiazeyu">xiazeyu</a>，感谢 <a href="https://github.com/MoePlayer/APlayer">APlayer</a> by <a href="https://github.com/DIYgod">DIYgod</a> 
</footer>

<script>
  function async(u, c) {
    var d = document, t = 'script',
      o = d.createElement(t),
      s = d.getElementsByTagName(t)[0];
    o.src = u;
    if (c) { o.addEventListener('load', function (e) { c(null, e); }, false); }
    s.parentNode.insertBefore(o, s);
  }
</script>
<%- js('js/script') %> <!--无法移至head.js中，原因不明-->

